.snapContainer {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.snapSection {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  overflow: hidden;
}
