.container{
    display:flex;
    flex-direction:column;
    gap:28px;
}

.header span{
    color:#7b8794;
    font-weight:700;
    letter-spacing:3px;
}

.header h1{
    font-size:52px;
    margin:10px 0;
}

.header p{
    color:#6b7280;
    font-size:22px;
}

.cardGrid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:24px;
}

.card{
    background:white;
    padding:30px;
    border-radius:28px;
}

.card h4{
    color:#6b7280;
}

.card h2{
    font-size:46px;
    margin:20px 0 10px;
}

.card p{
    color:#7c3aed;
    font-weight:600;
}

.chartBox{
    background:white;
    border-radius:32px;
    padding:35px;
    min-height:450px;
}

.chartHeader{
    display:flex;
    justify-content:space-between;
    margin-bottom:60px;
}

.chartHeader span{
    color:#b0b5c1;
    font-weight:700;
}

.months{
    display:flex;
    justify-content:space-between;
    margin-top:250px;
    color:#666;
}

.aiBox{
    background:white;
    padding:35px;
    border-radius:32px;
}

.analysis{
    margin-top:25px;
    padding:35px;
    background:#f5f3ff;
    border:1px solid #ddd6fe;
    border-radius:28px;
}

.analysis h3{
    font-size:36px;
    margin-bottom:20px;
}

.analysis p{
    color:#555;
    line-height:1.8;
}

.strategy{
    margin-top:30px;
    background:white;
    padding:20px;
    border-radius:18px;
    color:#7c3aed;
    font-weight:700;
}